# Environnements virtuels
.venv/
venv/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Build / distribution
build/
dist/
*.egg-info/

# Node / Bun
node_modules/
bun.lock
bun.lockb

# Cache uv
.uv/

# Fichiers d'environnement
.env
